/*
************   css reset -->
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
    display: block;

body 
    line-height: 1;

ol, ul 
    list-style: none;

blockquote, q 
    quotes: none;

blockquote:before, blockquote:after,
q:before, q:after 
    content: '';
    content: none;

table
    border-collapse: collapse;
    border-spacing: 0;

input 
    font-size: 14px;
    padding: 0;
/*
**********    base stylesheet
*/   
.clearfix:after 
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
.clearfix
    *zoom: 1;

html
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 62.5%
    font-family: "Microsoft YaHei" !important;
body 
    background-color: body-color;
a
    text-decoration: none;
    color: #000;
    outline: none;

ul,li
    list-style-type: none;

/************
* icon font *
*************/
@font-face {
    font-family:icon;
    src:url(../fonts/icomoon.eot) format("embedded-opentype"),
    url(../fonts/icomoon.woff) format("woff"),
    url(../fonts/icomoon.svg) format("svg"),
    url(../fonts/icomoon.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-family: 'icon';
    font-weight: normal;
    font-size: inherit;
}

/*
***************************     variable
*/

body-color= #fff
rem = 10px;

/*
***********  header -->     
*/
header-background-color = #fff;
header-color = #66757f; 
header-hover-color = #de908e;

/*
***********  main body variable-->
*/
main-color= #66757f;
main-title-color= #66757f;
post-title-color= #66757f;
body-link-color= #0084B4;
body-link-color= #66757f;
main-h-border-color = rgb(222,144,142)
/*
***********  main code variable
*/

highlight-background = #2d2d2d
highlight-current-line = #393939
highlight-selection = #515151
highlight-foreground = #cccccc
highlight-comment = #eeffc6
highlight-red = #b0fefb
highlight-orange = #f7a278
highlight-yellow = #ffcc66
highlight-green = #99cc99
highlight-aqua = #66cccc
highlight-blue = #6699cc
highlight-purple = #cc99cc

article-padding = 10px;
color-border = #2e2e2e;
highlight-foreground = #6dd3ce;
font-size = 14px;
line-height = 1.6em;
line-height-title = 1.1em;
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
color-background = #eee;

/*
***********  side variable-->
*/ 
side-background-color = #0084b4;
side-animate-icon-color = #cf4646; 
side-friend-item-color = #fff;
friend-item-bgcolor = #de908e; 
friend-item-bghover-color = #31c27c;


