prefix(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args
    

transition()
    prefix('transition', arguments)
border-radius()
    prefix('border-radius', arguments)
