div.copyright
    p Hexo theme <a src="http://hisimmer.com" title="Simmer的hexo主题Grace" target="_blank">Grace</a> | Inspire By <a src="https://twitter.com" target="_blank">Twitter</a>
    p © 2015－2016 
        a(src='#{site.url}')= theme.author
<div id="go-pg-top" style="display: none; opacity: 0.6;" title="返回顶部"> TOP</div>