meta(charset="utf-8")
title=  (config.title ? config.title : 'hexo') + " - " + (config.author?config.author: 'blog')
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="icon",href="#{theme.favicon}")
link(rel="stylesheet",href="/css/main.css")
meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')

    