script(defer='defer',src='/js/animate.min.js')
<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
script(defer="defer").
    window.onload = function() {
        var tag = false;
        $('#menu-icon-wrapper').click(function(){
        if(tag) {
            $('#side').animate({width: '80px',height:'80px'},function(){
               document.getElementById('side').className = "side hide";
            });
            //console.dir($('#side').animate({width: '40px'}));
            tag = false;
        } else {
            $('#side').animate({width: '300px',height:'360px'}, function(){
               document.getElementById('side').className = "side ";
            });
            tag = true;
        }
        });
        // go to top 
        function goTop() {
          $(window).scroll(function(e) {
              // If the distance between scrollbar and top border is more than 100 pix
              if($(window).scrollTop() > 200)
                  $("#go-pg-top").fadeIn().css({ opacity: 0.6 });
              else
                  $("#go-pg-top").fadeOut();
          });
          };  

          $("#go-pg-top").click(function(e) {
              $('body,html').animate({scrollTop:0}, 200);
          });
          $("#go-pg-top").mouseover(function(e) {
              $(this).css({ opacity: 1 });
          });
          $("#go-pg-top").mouseout(function(e) {
              $(this).css({ opacity: 0.6 });
          });
          // Scroll to top
          goTop();
    }
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257488449' class='cnzz'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1257488449%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>