mixin contents()
    ul.post-wrapper
        - page.posts.each(function(item, index) {
            li.post-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    .post-date
                        span.icon &#xe60e;
                        != full_date(item.date, 'll')
                    .post-content
                        != item.excerpt
                    a.read-more(href=item.path) ... Read more
        - })

mixin content(item)
    .post
        article.post-block
            h2.post-title
                a.post-title-link(href= url_for(item.path))
                    != item.title
                .post-date
                    span.icon &#xe60e;
                    != full_date(item.date, 'll')
            .post-content
                != item.content

mixin catecontent()
    .catebody
           