
html,body
    width: 100%;
    height: 100%;
    position: relative;
body 
    position: relative;
code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #4aa9aa;
    border-radius: 2px;
    white-space: inherit;
}

table
    width: 100%;
    thead
        background-color: #ddd;
        th
            padding: 5px;
    tbody 
        tr:nth-child(2n)
            background-color: #eee;
        td
            padding: 5px;
/*
*********    content stylesheet -->
*/
.main
    max-width: 780px;
    min-height: 900px;
    margin: rem*5 auto 30px auto;
    font-size: 14px;
    line-height: 2;
    color: main-color;
    padding: 1*rem 0 3*rem 0;
    & a
        transition: color .4s;
    & a:hover 
        color: #de908e;
    h1,h2, h3, h4, h5, h6 
            position: relative;
            margin: 4px 0;
            color: main-title-color;
            padding-left: rem*1;
            line-height: 1.2;
            margin: rem*1 0;
            border-left: 4px solid main-h-border-color;
    h2, h3
        font-size: 22px;

    h4, h5, h6
        font-size: 18px;
    a
        color: #de908e;; 
    blockquote 
        margin: 2em 0;
        padding-left: 20px;
        border-left: 4px solid #42b983;
    img
        display: block;
        max-width: 100%;
        margin: 1em auto;
    article 
        padding-bottom: rem*3;
        border-bottom: 1px solid #f0f0f0;
    ul
        padding-left: 2*rem;
    li
        list-style-type: disc;
    .post-wrapper
        border-top: 1px solid #fff;  
        li
            list-style-type: none;
    .post-title 
        border-left: none;
        padding: 0;
        margin: rem*1  0 5px 0;
        line-height: rem*5;
        a
            color: post-title-color;
        .icon
            font-size: 22px;
            margin-right: rem*1;
    .post-date
        font-size: rem*1.4;
        line-height: 20px;
        color: #b5b5b5;
        padding-bottom: rem*2;
        .icon 
            margin-right: rem*1.2;
            font-size: rem*2;
.post-item
    position: relative;
    margin: 30px 0;
    code
        color: #000;
.link-box 
    position: absolute; 
    width: 100%;
    height: rem*3;
    bottom: 0;
    text-align: center;
    padding: rem*1 0;
    span 
        display: inline-block;  
        font-size: 24px;
        line-height: 50px; 
        width: 30px;
        height: 30px;
        margin: 0 30px;
        cursor: pointer;
        transition: all .6s ease-in-out;   
        &:hover
            color: red;
/*
******  pagenator
*/          
.paginator
    font-size: rem*1.4;
    height: rem*4;
    margin: rem*1 0;
    line-height: rem*4; 
    padding: rem*2 0;
    & a 
        transition: all .3s ease-in-out;   
        padding: 0 20px;
        background: #22C3AA;
        color: #fff;
        border-radius: 8px;
        &:hover
            background: #F07484;
            color: #fff;
            border-radius: 4px;
    & .prev 
        float: left;       
    & .next
        float: right;
        
