/*
**************   footer stylesheet -->
*/

footer  
    color: #fff;
    text-align: center;
    padding: 12px 0 10px 0;
    background-color: #000;
.copyright 
    max-width: 780px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    padding-left: rem*2;
    & p
        padding: 5px 0;
        text-align: left;
    & a
        color: #de908e;
        &:hover
            color: #fff;

// goto top stylesheet
#go-pg-top 
    display: none;
    background: header-background-color;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border: 1px solid #eee;
    display: none;
    height: 30px;
    width: 30px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: fixed;
    bottom: 80px;
    right: 11.52991452991453%;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    z-index: 999;
    
/*
****** cnzz 流量统计
*/
.cnzz {
    position: fixed; 
    bottom: -100px;
}