/*
**************   footer stylesheet -->
*/

footer
    margin-top: 30px;
    padidng-bottom: 30px;
    color: #fff;
    background-color: #2e2e2e;
.copyright 
    font-size: 15px;
    text-align: center;
    & p
        padding: rem 0;
    & a
        color: #f5f8fa;
        &:hover
            color: #fff;

// goto top stylesheet
#go-pg-top 
    display: none;
    background: header-background-color;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border: 1px solid #eee;
    display: none;
    height: 30px;
    width: 30px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: fixed;
    bottom: 80px;
    right: 11.52991452991453%;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;