/*
***********       header style  written by simmer
*/

header
    width: 100%;
    min-height: rem*3;
    line-height: rem*3;
    background: header-background-color;
    color: #fff;
    padding: rem*0.5 0 ;
    font-size: 14px;
    box-shadow: 0 0 18px #ccc;
    position: fixed;
    top:0;
    z-index: 99;
    transition: all .6s;

.header-inner 
    margin: 0 auto;
    height: 100%;
.log
    width: 12%;
    overflow: hidden;
    min-width: rem*10;
    font-size: 24px;
    line-height: rem*3;
    float: left;
    height: rem*3;
    margin-left: rem*2;
    max-width: 200px;
    overflow: hidden;
    color: #000;
    transition: color 0.3s ease-in-out;
    &:hover 
        color: header-hover-color;
    
.nav
    max-width: 60%;
    overflow: hidden;
    float: right;
    height: 100%;
    max-width: 920px;
    margin-right: 10%;

.nav li 
    float: left;
    line-height: rem*3;
.nav a 
    display: block;
    padding: 0 2.4rem;
    border-bottom: 2px solid header-background-color;
    color: header-color;
    font-weight: normal;
    transition: all 0.3s ease-in-out;
    &:hover
        color: header-hover-color;
        border-bottom: 2px solid header-hover-color; 
 







